*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #674baf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    color: #fff;
}

.container {
    margin: auto;
    max-width: 100%;
    /* width: 90rem; */
}

.logo-title {
    margin: 5rem;
}

.content {
    display: flex;
}

.mockup-img1 {
    margin-left: 5rem;

}

.mockup-img {
    width: fit-content;
    height: fit-content;
}

.page-info  {
    flex: 0.6;
    margin: 2rem 0 6rem 4rem;
    padding: 1rem;
    font-size: 1.05rem;
}

.tage-line {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 400, 700;
}

.tage-info {
    margin-top: 1.5rem;
    opacity: 0.8;
}

.btn-register { 
    margin-top: 1.5rem;
    border-radius: 3rem;
    border: none;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.302);
    color: #674bafd0;
    text-align: center;  
    font-size: 1.5rem;  
    padding: 0.99rem;  
    width: 50%;    
    cursor: pointer;  
}

.media-links {
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 4rem;
    /* margin-bottom: 6rem; */
}

.media-links a {
    color: #fff;
    border: 0.125rem solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
    text-decoration: none;
}

@media screen and (max-width: 25rem) {
    body {
        background-image: url(/images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #674baf;
        font-weight: none;
    }

    .container {
        min-width: 800px;
        max-width: 1000px;
    }

    .logo-title {
        margin: 4rem 4rem 4rem 4rem;
    }
    
    .content {
        flex-direction: column;
    }
    
    .mockup-img1 {
        margin-left: 4rem;

    }

    .mockup-img {
        width: 80%;
        height: 80%;
    }
    
    .page-info  {
        min-width: 500px;
        max-width: 700px;
        text-align: center;
        margin: 0;
        padding: 1rem;
    }
    
    .tage-line {
        margin-top: 5.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: 3.55rem;
        font-weight: 400, 700;
    }
    
    .tage-info {
        font-size: 2.025rem;
        margin: 1.5rem;
        opacity: 0.8;
    }

    .media-links {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 5%;
    }
}
